// @import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

html {
	width: 100%;
	height: 100%;
}

body {
	@include font();
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
}

::selection { 
	color:white;
	background-color: rgb(175, 70, 0); 
}

button {
	@include clean-font();
	width: 80px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	padding: 5px;
	position: relative;
	flex-shrink: 1;
	margin-left: 3px;
	margin-right: 3px;
	
	border: $button-border;
	top: -$button-z-height;
	box-shadow: 0px $button-z-height  2px 0 rgb(0, 0, 0);
	@include button-background($button-color-default);
	//transition: all .16s;

	&:hover {
  		$col: $button-color-hover;
		@include button-background($button-color-hover);
	}
	&:focus {
		@include button-background($button-color-hover);
		//box-shadow: 0px 0px 6px 0px rgb(255, 255, 255);
	}
	&:active {
		top: 0px;
		$col: $button-color-active;
		@include button-background($col);
		box-shadow: 0px 0px 6px 0px rgb(0, 0, 0) inset;
	}
	&:disabled {
		top: 0px;
		cursor: default;
		box-shadow: 0px 0px 6px 0px rgb(0, 0, 0) inset;
		@include button-background($button-color-disabled);
	}
}

textarea {
	resize: none;
}

.app-layout-container {
	@include app-layout();
	justify-content: center;
	align-items: center;
	width: 100%; 
	height: 100%
}

.app-layout-horizontal {
	@include app-layout();
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: stretch;
	flex-shrink: 1;
}

.app-layout-vertical {
	@include app-layout();
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;

	max-width: 600px;
}

.chat {
	@include form-div();

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	flex-shrink: 1;
	flex-grow: 1;

	padding-bottom: 0;
	min-width: 300px;
	flex-shrink: 1;
	flex-grow: 1;

	.chat-messages {
		flex-grow: 1;

		font: 20px Comic Sans MS, Comic Sans, cursive;
		box-shadow: 0 0 5px 0px #000 inset;
		box-sizing: border-box;
		background-color: $form-background-light;
		overflow-y: auto;
		overflow-wrap: break-word;
		padding: 10px;
		width: auto;
	}

	.controls-div {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		height: 40px;
		margin-top: 5px;
		input {
			@include standart-input();
			margin-top: 0;
		}
		button {
			margin-left: 10px;
			margin-top: 0;
		}
	}
}

.lobby-list {
	@include form-div();

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	flex-shrink: 1;
	flex-grow: 1;

	padding-top: 10px;
	max-width: 500px;
	min-width: 270px;

	.slider-div {
		flex-grow: 1;
		padding: 10px;
		overflow-y: scroll;
		background-color: #8f8f8f;
		box-shadow: 0 0 6px 0 rgb(0, 0, 0) inset;
		box-sizing: border-box;
	}

	.lobby-list-item {
		@include font();
		
		z-index: 100;
		position: relative;
		text-align: left;
		width: 100%;
		padding: 5px;
		margin-bottom: 6px;
		margin-top: 3px;
		box-sizing: border-box;
		
	}
}

.lobby-form {
	@include light-dark-div();
	flex-shrink: 1;

	.light-div {
		padding-top: 0px;
	}

	.light-div > div {
		position: relative;
		width: 100%;
		height: auto;
		padding: 1px;
		margin-top: 7px;
		outline: rgb(0, 0, 0) solid 1px;
		background-color: rgba(0, 0, 0, 0.068);

		label {
			display: inline;
			font-weight: bold;
			line-height: 1.5;
			vertical-align: middle;
			margin-left: 3px;
		}

		span {
			display: block;
			float: right;
			overflow-wrap: break-word;
		}

		select, input {
			@include standart-input();
			display: block;
			float: right;
		}

		select, input, span {
			width: 50%;
		}
	}
}

.login-form {
	@include light-dark-div();
	min-width: 100px;
	flex-shrink: 1;
	
	input {
		@include standart-input();
		margin-top: 5px;
	}

	.dot {
		position: absolute;
		bottom: 13px;
		left: 10px;
		height: 25px;
		width: 25px;
		background-color: #bbb;
		border-radius: 50%;
		box-shadow: 0 0 0 2pt rgb(0, 0, 0);
		display: block;
	}

	.dot-active {
		background-color: rgb(139, 223, 61);
	}
}

.board {
	@include form-div();
	$col: rgb(65, 65, 65);
	background-color: $col;
	border: 3px solid $col;
	box-shadow: 0px 0px 26px 0px $col;
	padding: 5px;

	flex-shrink: 1;
	flex-grow: 1;

	.canvas-div {
		position: relative;
		margin-left: auto;
   		margin-right: auto;
		width: auto;

		div {
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			
			width: 100%;
			height: 100%; 
			box-sizing: border-box;

			label {
				$background-color: rgb(27, 255, 168);
				//font: italic 30px sans-serif;
				font-style: italic;
				font-size: 30px;
				color: rgb(54, 54, 54);
				text-align: center;
				padding: 6px;
				display: block;
				z-index: 1999;
				box-sizing: border-box;
				margin-top: 50%;
				width: 100%;
				opacity: 100%;
				box-shadow: 0 0 16px 0 $background-color;
				background-color: $background-color;
			}
		}

		.shadow {
			pointer-events: none;
			background: rgba(0, 0, 0, 0);
			box-shadow: 0 0 10px 0px #000000 inset;
		}
	}
}