// @import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

@mixin clean-font {
  all: initial;
  @include font();
}

@mixin font {
  font: 20px sans-serif;
}

@mixin light-div($height, $width:230px) {
	$col: $form-background-light;
	background-color: $col;
	border: 3px solid $col;
	z-index: 1;
	position: absolute;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: $width;
	height: $height;
	padding: 5px 10px 10px 10px;
	top: -3px;
	left: -3px;
}

@mixin form-div($height, $width:230px) {
	@include clean-font();
	flex-shrink: 0;
	$col: $form-background-dark;
	background-color: $col;
	border: 3px solid $col;
	box-shadow: 0px 0px 4px 0px rgb(68, 68, 68);
	border-radius: 6px;
	display: block;
	width: $width;
	height: $height;
	padding: 3px 10px 10px 10px;
	position: relative;
	overflow: clip;
}

@mixin standart-input() {
	@include clean-font();
	position: relative;
	z-index: 100;
	background-color: #f4ffeb;
	outline: 1px solid black;
	box-shadow: 0px 0px 4px 0px rgb(68, 68, 68);
	width: 100%;
	padding: 4px;
	padding-left: 8px;
	margin-top: 5px;
	box-sizing: border-box;
	transition: all .16s;
	&:hover {
		background-color: #eaffd7;
	}
	&:focus {
		background-color: #e7fdb3;
		outline-width: 2px;
	}
}

body {
  @include font();
}

::selection { 
	color:white;
	background-color: rgb(175, 70, 0); 
}

button {
	@include clean-font();

	$border: 2px solid black;
	$color-defaul: burlywood;
	$color-hover: #daa35b;
	$color-active: #cc8a35;

	width: 80px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	padding: 5px;
	float: right;

	$col: $color-defaul;
	background-color: $col;
	border: $border;
	transition: all .16s;

	&:hover {
  		$col: $color-hover;
		background-color: $col;
	}
	&:focus {
		box-shadow: 0px 0px 6px 0px rgb(255, 255, 255);
	}
	&:active {
		$col: $color-active;
		background-color: $col;
		box-shadow: 0px 0px 6px 0px rgb(0, 0, 0) inset;
	}
}

canvas {
	width: 600px;
	height: 600px;
}

textarea {
	resize: none;
}

.layout {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	height: 700px;
}

.chat {
	@include form-div(600px, 500px);
	padding-bottom: 0;
	.controls-div {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		height: 40px;
		margin-top: 5px;
		input {
			@include standart-input();
			margin-top: 0;
		}
		button {
			margin-left: 10px;
			margin-top: 0;
		}
	}
}

.chat-messages {
	font: 20px Comic Sans MS, Comic Sans, cursive;
	box-shadow: 0 0 5px 0px #000 inset;
	box-sizing: border-box;
	background-color: $form-background-light;
	overflow-y: auto;
	overflow-wrap: break-word;
	padding: 10px;
	width: 500px;
	height: 550px;
}

.lobby-list {
	@include form-div(600px, 300px);
	overflow-y: scroll;
}

.lobby-list-item {
	@include font();
	text-align: left;
	width: 100%;
	padding: 5px;
	margin-bottom: 6px;
	margin-top: 0px;
	box-sizing: border-box;
}

.login-form {
	@include form-div(121px);

	button {
		margin-top: 18px;
		margin-left: 15px;
	}

	div {
		@include light-div(68px);
	}
	
	input {
		@include standart-input();
	}
}

.dot {
	float: left;
	height: 25px;
	width: 25px;
	margin-top: 26px;
	background-color: #bbb;
	border-radius: 50%;
	box-shadow: 0 0 0 2pt rgb(0, 0, 0);
	display: block;
}

.dot-active {
	background-color: rgb(139, 223, 61);
}

.lobby-form {
	@include form-div(180px);
	
	div {
		@include light-div(125px);
	}

	button {
		margin-top: 18px;
		margin-left: 15px;
	}

	label {
		position: relative;
		z-index: 100;
	}

	select, input {
		@include standart-input();
	}
}

.board {
	@include form-div(auto, auto);

	$col: rgb(65, 65, 65);
	background-color: $col;
	border: 3px solid $col;
	box-shadow: 0px 0px 26px 0px $col;
	padding: 5px;
}