// @import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

@mixin clean-font {
  all: initial;
  @include font();
}

@mixin font {
  font: 20px sans-serif;
}

@mixin light-div($height, $width:230px) {
	$col: $form-background-light;
	background-color: $col;
	border: 3px solid $col;
	z-index: 1;
	position: absolute;
	border-radius: 6px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: $width;
	height: $height;
	padding: 5px 10px 10px 10px;
	top: -3px;
	left: -3px;
}

@mixin form-div($height, $width:230px) {
	@include clean-font();
	flex-shrink: 0;
	$col: $form-background-dark;
	background-color: $col;
	border: 3px solid $col;
	border-radius: 6px;
	display: block;
	width: $width;
	height: $height;
	padding: 3px 10px 10px 10px;
	position: relative;
	overflow: clip;
}

@mixin standart-input() {
	@include clean-font();
	position: relative;
	z-index: 100;
	background-color: #f4ffeb;
	outline: 1px solid black;
	width: 100%;
	padding: 4px;
	padding-left: 8px;
	margin-top: 5px;
	box-sizing: border-box;
	&:hover {
		background-color: #eaffd7;
	}
	&:focus {
		background-color: #e7fdb3;
		outline-width: 2px;
	}
}

body {
  @include font();
}

button {
	@include clean-font();
	width: 80px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	padding: 5px;
	margin-top: 18px;
	margin-left: 15px;
	float: right;

	$col: #92bbf1;
	background-color: $col;
	border: 2px solid $col;
	&:hover {
  		$col: #7baef1;
		background-color: $col;
		border: 2px solid $col;
	}
	&:active {
  		$col: #4898ff;
		background-color: $col;
		border: 2px solid $col;
	}
}

form {
	margin: 10px;
	padding: 5px;
	width: 230px;
	background-color: #a3bbbe;
	border: 10px;
	label, input {
		display: block;
	}
}

canvas {
	width: 600px;
	height: 600px;
}

textarea {
	resize: none;
}

.horizontal-layout {
	display: flex;
	flex-direction: row;
}

.vertical-layout {
	display: flex;
	flex-direction: column;
}

.chat {
	@include form-div(600px, 500px);
	padding-bottom: 0;
	.controls-div {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		height: 40px;
		margin-top: 5px;
		input {
			@include standart-input();
			margin-top: 0;
		}
		button {
			margin-top: 0;
		}
	}
}

.chat-messages {
	font: 20px Comic Sans MS, Comic Sans, cursive;
	box-sizing: border-box;
	background-color: $form-background-light;
	overflow-y: auto;
	overflow-wrap: break-word;
	padding: 10px;
	width: 500px;
	height: 550px;
}

.lobby-list {
	@include form-div(600px, 300px);
	overflow-y: scroll;
}

.lobby-list-item {
	cursor: pointer;
	width: 100%;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
	margin-bottom: 6px;
	box-sizing: border-box;
	background-color: burlywood;
	&:hover {
		background-color: #dfab66;
	}
	&:active {
		background-color: #da7b44;
	}
}

.login-form {
	@include form-div(121px);

	div {
		@include light-div(68px);
	}
	
	input {
		@include standart-input();
	}
}

.dot {
	float: left;
	height: 25px;
	width: 25px;
	margin-top: 26px;
	background-color: #bbb;
	border-radius: 50%;
	box-shadow: 0 0 0 2pt rgb(0, 0, 0);
	display: block;
}

.dot-active {
	background-color: rgb(139, 223, 61);
}

.lobby-form {
	@include form-div(180px);
	
	div {
		@include light-div(125px);
	}

	label {
		position: relative;
		z-index: 100;
	}

	select, input {
		@include standart-input();
	}
}