body {
  font: 20px sans-serif;
}

form {
  margin: 10px;
  padding: 5px;
  width: 230px;
  background-color: #a3bbbe;
  border: 10px;
}
form label, form input {
  display: block;
}

canvas {
  width: 600px;
  height: 600px;
}

textarea {
  resize: none;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.chat {
  position: relative;
  margin: 10px;
  background-color: #b6b6b6;
  width: 500px;
}
.chat form {
  position: absolute;
  background-color: cadetblue;
  margin: 0px;
  bottom: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.chat form input {
  display: inline;
  margin-left: 5px;
  width: 85%;
}

.chat-messages {
  box-sizing: border-box;
  font: 16px "Fira Sans", sans-serif;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 10px;
  width: 500px;
  height: 550px;
}

.lobby-list {
  overflow-y: auto;
  padding: 10px;
  width: 300px;
  height: 600px;
  background-color: #b6b6b6;
}

.lobby-list-item {
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 6px;
  box-sizing: border-box;
  background-color: burlywood;
}
.lobby-list-item:hover {
  background-color: #dfab66;
}
.lobby-list-item:active {
  background-color: #da7b44;
}

.login-form {
  background-color: #a0a0a0;
  border: 3px solid #a0a0a0;
  border-radius: 6px;
  display: block;
  width: 230px;
  height: 121px;
  padding: 3px 10px 10px 10px;
  position: relative;
}
.login-form div {
  background-color: #c0c0c0;
  border: 3px solid #c0c0c0;
  z-index: 1;
  position: absolute;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 230px;
  height: 68px;
  padding: 5px 10px 10px 10px;
  top: -3px;
  left: -3px;
}
.login-form input {
  all: initial;
  font: 20px sans-serif;
  position: relative;
  z-index: 100;
  background-color: #f4ffeb;
  outline: 1px solid black;
  width: 100%;
  padding: 4px;
  padding-left: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
.login-form input:hover {
  background-color: #eaffd7;
}
.login-form input:focus {
  background-color: #e7fdb3;
  outline-width: 2px;
}
.login-form button {
  all: initial;
  font: 20px sans-serif;
  width: 80px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px;
  margin-top: 18px;
  float: right;
  background-color: #92bbf1;
  border: 2px solid #92bbf1;
}
.login-form button:hover {
  background-color: #7baef1;
  border: 2px solid #7baef1;
}
.login-form button:active {
  background-color: #4898ff;
  border: 2px solid #4898ff;
}
