form {
    margin: 10px;
    padding: 5px;
    width: 230px;
    background-color: #a3bbbe;
    border: 10px;
}

form label {
    display: block;
}

form input {
    display: block;
}

canvas {
    width: 600px;
    height: 600px;
}

textarea {
    resize: none;
}

.horizontal-layout {
    display: flex;
    flex-direction: row;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.chat {
    position: relative;
    margin: 10px;
    background-color: rgb(182, 182, 182);
    width: 500px;
}

.chat form {
    position: absolute;
    background-color: cadetblue;
    margin: 0px;
    bottom: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.chat form input {
    margin-left: 5px;
    width: 85%;
}

.chat form input {
    display: inline;
}

.chat-messages {
    /* background-color: coral; */
    box-sizing: border-box;
    font: 16px "Fira Sans", sans-serif;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: 10px;
    width: 500px;
    height: 550px;
}